:root {
    --primback: #fff;
    --lightback: rgb(183, 222, 235);
    --accent: rgb(100, 67, 6);
}
/* functioning header code */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10% 10px 0;
    text-align: center;
    background: var(--accent);
    color: var(--accent);
}

h1 {
    background-color: var(--lightback);
    color: var(--accent);
    padding: 0 10px 0 100px;
    font-size: 48px;
    font-weight: bold;
}

.main-header nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 450px;
}

.main-header nav a {
    color: var(--lightback);
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    border-bottom: 4px solid currentColor;
}
/* functioning header code above */
/* banner specific code */
.hero {
    position: relative;
    height: 412px;
    width: auto;
    margin: auto;
    background-image: url("../images/panoramic.jpg");
}

.subtitle {
    position: absolute;
    top: 400px;
    right: 10%;
    background-color: var(--lightback);
    color: var(--accent);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    z-index: 3;
}
/* functioning banner code above */
/* main body code */
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
/* grid-like display */
.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1% 5% 1% 3%;
}
/* left half of body */
aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    background-color: var(--primback);
    color: var(--accent);
    padding: 1%;
    max-width: 12%;
    min-width: 10%;
    text-align: right;
    font-size: 2.5em;
    margin-left: 3%;
}
/* left half of body */
/* sectional boundaries */
.container {
    background-color: var(--primback);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    justify-content: space-evenly;
    align-items: flex-start;
    border-left: 4px solid var(--accent);
}
/* individual elements */
/* about me text */
.center {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
}
/* about me text above */
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}
.structure {
    display: grid;
    align-items: center;
    width: 90%;
    height: 99%;
    grid-template-columns: repeat(1, 1fr);
}

.card {
    position: relative;
    border-color: var(--lightback);
    border-style: solid;
    border-width: 5px;
    padding: 0px;
    margin: 0px;
    flex: 1 1 auto;
}

img {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  
}

.card > .over-img {
    position: absolute;
    bottom: 50px;
    left: 0%;
    background-color: var(--lightback);
    color: var(--accent);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    z-index: 2;
}

img {
    opacity: 0.5;
}

img:hover{
    opacity: 1.0;
}

p {
    font-size: 80%;
    font-style: normal;
    color: var(--accent);
}
#slide1 {
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    margin-bottom: 10px;
}
#slide2 {
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    margin: 0 5px 5px 0;
}
#slide3 {
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    margin: 0 0 5px 5px;
}
#slide4 {
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    margin: 5px 5px 0 0;
}
#slide5 {
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    margin: 5px 0 0 5px;
}
/* main body code above */
/* footer specific code */
.container ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: space-evenly;
}

.container > ul > li > a {
    background-color: var(--primback);
    color: var(--accent);
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    padding: 5px;
    border-bottom: 4px solid currentColor;
}
/* footer specific code */
@media screen and (max-width: 1500px) {
    h3 {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 800px) {
    h3 {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 0.5em;
    }
   
    .card > .over-img {
        position: absolute;
        bottom: 15%;
        left: 0%;
        background-color: var(--lightback);
        color: var(--accent);
        font-size: 12px;
        padding: 3px 6px;
        border: none;
        z-index: 2;
    }

    footer {
        line-height: 2;
    }

    .main-header nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
    }
}